.git/

completions/*
!completions/.gitkeep
!completions/my_*.fish
completions/my_atomicparsley_*.fish
!completions/ranger-cd.fish

conf.d/*
!conf.d/.gitkeep
!conf.d/1?-*.fish
!conf.d/2?-*.fish
!conf.d/4?-*.fish
!conf.d/5?-*.fish
conf.d/21-add-path.fish

functions/*
!functions/.gitkeep
!functions/fish_greeting.*
!functions/my_*.fish
functions/my_atomicparsley_*.fish
!functions/ranger-cd.fish
!functions/yazi-cd.fish

themes/*
!themes/.gitkeep

fish_variables
