.git/

completions/*
!completions/.gitkeep
!completions/my_*.fish
completions/my_atomicparsley_*.fish
!completions/ranger-cd.fish

conf.d/*
!conf.d/.gitkeep
!conf.d/11-my_env.fish
!conf.d/21-add-path.fish
!conf.d/31-abbr-add.fish
!conf.d/40-fzf.fish
!conf.d/40-mise.fish
!conf.d/40-ranger.fish
!conf.d/40-starship.fish
!conf.d/40-vivid.fish
!conf.d/40-zoxide.fish

!conf.d/ini/
conf.d/ini/*
!conf.d/ini/.gitkeep
!conf.d/ini/my_mount_nas.SAMPLE.ini
!conf.d/ini/my_setting_default_wallpaper.SAMPLE.ini

functions/*
!functions/.gitkeep
!functions/fish_greeting.*
!functions/my_*.fish
functions/my_atomicparsley_*.fish
!functions/ranger-cd.fish
!functions/yazi-cd.fish

themes/*
!themes/.gitkeep

fish_variables
